*{
    margin: auto;
    padding: auto;
} 

caption{
    color: blue;
    margin-bottom: 5px;
}

h1{
    text-align: center;
    color: rgb(200, 63, 228);
}

table{
    border-collapse: collapse;
}

th{
    background-color: gainsboro;
    text-align: center;
}

td{
    padding: 5px;
}

th, td{
    border: solid 1px black;        
}